fr[BB][AAI]=10
fr[BB][ALLE]=20
fr[BB][ALLO]=10
fr[BB][LM]=20
fr[BB][SAT]=5
fr[BB][SE]=5
fr[CLE][SAT]=5
fr[CLE][SE]=5
fr[CLO][SAT]=5
fr[CLO][SE]=5
fr[CR][CLE]=3
fr[CR][LM]=10
fr[CR][SAT]=5
fr[CR][SE]=5
fr[DEST][ALLE]=10
fr[DEST][SAT]=5
fr[DEST][SE]=5
fr[EDLM][AAI]=100
fr[EDLM][ALLE]=200
fr[EDLM][ALLO]=100
fr[EDLM][BB]=25
fr[EDLM][CG]=50
fr[EDLM][CLE]=200
fr[EDLM][CLO]=33
fr[EDLM][CR]=33
fr[EDLM][DEST]=5
fr[EDLM][GT]=250
fr[EDLM][LM]=200
fr[EDLM][PT]=250
fr[EDLM][REC]=250
fr[EDLM][SAT]=1250
fr[EDLM][SE]=1250
fr[EDLM][VB]=30
fr[EDLM][VC]=250
fr[GT][SAT]=5
fr[GT][SE]=5
fr[PT][SAT]=5
fr[PT][SE]=5
fr[REC][SAT]=5
fr[REC][SE]=5
fr[VB][SAT]=5
fr[VB][SE]=5
fr[VC][SAT]=5
fr[VC][SE]=5
